<phpunit bootstrap="vendor/autoload.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="false"
>
	<testsuites>
		<testsuite name="Api Tests">
			<directory>test</directory>

			<ignore>
				<exclude>test/IntegrationTest.php</exclude>
			</ignore>
		</testsuite>
	</testsuites>
</phpunit>
